## Part 1 语言基础

In [1]:
## 导入 numpy
import numpy as np
# from numpy.random import randn

In [2]:
np.random.seed(123)
np.set_printoptions(precision = 4, suppress = True)

In [3]:
data = {i : np.random.randn() for i in range(10)}

In [4]:
print(type(data))
data

<class 'dict'>

{0: -1.0856306033005612,
 1: 0.9973454465835858,
 2: 0.28297849805199204,
 3: -1.506294713918092,
 4: -0.5786002519685364,
 5: 1.651436537097151,
 6: -2.426679243393074,
 7: -0.42891262885617726,
 8: 1.265936258705534,
 9: -0.8667404022651017}

#### 内省

In [5]:
list_1 = [1, 2, 3]

In [6]:
list_1?
# Type:        list
# String form: [1, 2, 3]
# Length:      3
# Docstring:  
# list() -> new empty list
# list(iterable) -> new list initialized from iterable's items

In [7]:
def f(x, y, z):
    return (x + y) ** z

In [8]:
a = 3
b = 2
c = 1

In [9]:
result = f(a, b, c)

In [10]:
result

5

In [11]:
%pwd

'D:\\Jupyter_Workplace\\Datawhale\\Data_Analysis\\pydata-book-2nd-edition'

### 缩进要规范

In [12]:
list_2 = []
for x in range(10):
    if x < 5:
        list_2.append(x)
    else:
        continue
#         break

In [13]:
list_2

[0, 1, 2, 3, 4]

### 万物皆对象

In [14]:
results = []
for line in file_handle:
    if len(line) == 0:
        continue
    results.append(line.replace('foo', 'bar'))

In [15]:
# obj.some_method(x, y, z)
result = f(a, b, c = 0, e = 'Datawhale')

In [19]:
def append_element(some_list, element):
    some_list.append(element)

In [20]:
data = [1, 2, 3]
append_element(data, 4)

In [21]:
data

[1, 2, 3, 4]

### 变量和参数传递

In [22]:
a = [1, 2, 3]
b = a

In [23]:
a.append(4)
b

[1, 2, 3, 4]

In [24]:
a

[1, 2, 3, 4]

### 动态引用和强类型

In [26]:
a = 5
type(a)

int

In [27]:
a = 'foo'
type(a)

str

In [30]:
# '5' + 5

In [31]:
a = 4.5
b = 2
# 输出指定字符串格式
print('a is {0}, b is {1}'.format(type(a), type(b)))
# a / b

a is <class 'float'>, b is <class 'int'>

In [32]:
a / b

2.25

In [33]:
a // b

2.0

In [34]:
a = 5
isinstance(a, int)

True

In [37]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

### 属性和方法

In [38]:
a = 'foo'

In [41]:
getattr(a, 'split')

### 鸭子类型

In [ ]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [ ]:
isiterable('a string')
isiterable([1, 2, 3])
isiterable(5)

### 二元运算和比较运算符

In [1]:
5 - 7
12 + 21.5
5 <= 2

False

In [2]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [3]:
a == c

True

In [4]:
a = None
a is None

True

### 可变与不可变类型

In [5]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [8]:
a_tuple = (3, 5, (4, 5))
a_tuple1 = [(3, 5, (4, 5)), 1]
a_tuple1[1] = 'four'
a_tuple1

[(3, 5, (4, 5)), 'four']

## 标量类型

In [9]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [11]:
fval = 7.243
fval2 = 6.78e-5

In [13]:
fval

7.243

In [12]:
fval2

6.78e-05

In [14]:
3 / 2

1.5

In [15]:
3 // 2

1

### 数值类型

### 字符串类型

In [16]:
a = 'one way of writing a string' 
b = "another way"

In [17]:
c = """
This is a longer string that
spans multiple lines
"""

In [18]:
c.count('\n')

3

In [20]:
a = 'this is a string'
# a[10] = 'f' 字符串类型不可修改
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [21]:
a = 5.6
s = str(a)
print(s)

5.6

In [22]:
s = 'python'
list(s)
s[:3]

'pyt'

In [23]:
s = '12\\34'
print(s)

12\34

In [24]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [25]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [31]:
template = '{0:.2f} {1:s} are worth US${2:f}'
# template = '{0:.2f} {1:s} are worth US${2:d}'

In [32]:
template

'{0:.2f} {1:s} are worth US${2:f}'

In [33]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1.000000'

### 字节和Unicode类型

In [34]:
val = "español"
val

'español'

In [38]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

bytes

In [39]:
val_utf8.decode('utf-8')

'español'

In [40]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

### 布尔类型

In [41]:
True and True
False or True

True

### 类型转换

In [42]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

### None

In [43]:
a = None
a is None
b = 5
b is not None

True

In [ ]:
def add_and_maybe_multiply(a, b, c=None): 
    result = a + b
    
    if c is not None:
        result = result * c
        
    return result

In [44]:
type(None)

NoneType

### Dates & times

In [45]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [46]:
dt.minute

30

In [47]:
dt.date()

datetime.date(2011, 10, 29)

In [48]:
dt.time()

datetime.time(20, 30, 21)

In [51]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [52]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [53]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [54]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [55]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

## 控制流

### if, elif 和 else

In [57]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

### for 循环

In [58]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

### while 循环

In [60]:
x = 256 
total = 0 
while x > 0: 
    if total > 500: 
        break 
    total += x 
    x = x // 2

In [61]:
total

504

### pass 语句

In [62]:
if x < 0: 
    print('negative!') 
elif x == 0:
    pass
else: print('positive!')

positive!

### range函数

In [64]:
range(10)

range(0, 10)

In [65]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [67]:
seq = [1, 2, 3, 4] 
for i in range(len(seq)): 
    val = seq[i]

In [68]:
val

4

In [69]:
sum = 0 
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i

In [70]:
sum

2333316668

### 三元表达式

In [71]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'