### Charter03 Python的数据结构、函数和文件

#### 1、数据结构和序列

- 元组
    - tuple一旦初始化就不能修改
    - 没有append()，insert()

In [1]:
tup = 4, 5, 6

In [2]:
nested_tup = (4, 5, 6), (7, 8)

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [12]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [13]:
tup[1].append('bar')
tup

('foo', [1, 2, 'bar'], True)

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

- 拆分元组

In [2]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [3]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [4]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [3]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [5]:
values = 1, 2, 3, 4, 5
a, b, *_ = values
print(a,b)
c, d, *rest = values
print(c, d, rest)

1 2
1 2 [3, 4, 5]

- tuple 方法
    - count() 返回元组中元素的出现次数
    - index() 返回元组中元素的最小索引

In [6]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [7]:
# list同样适用
l = [1, 2, 2, 2, 3, 4, 2]
l.count(2)

4

In [11]:
a.index(2)

1

- 列表

In [13]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
b_list[1] = 'peekaboo'
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [14]:
gen = range(10)
print(gen, type(gen))
list(gen)

range(0, 10) <class 'range'>

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 添加和删除元素
    - add element
        - append()
        - insert()
    - delete element
        - pop()
        - remove()

In [15]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [16]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [17]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [18]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [19]:
'dwarf' in b_list

True

- 串联和组合列表

In [21]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [22]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

- 排序

In [24]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [25]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [26]:
sorted([7, 2, 5, 1, 3])

[1, 2, 3, 5, 7]

- 二分搜索和维护已排序的列表

In [30]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2), c)
print(bisect.bisect(c, 5), c)
print(bisect.insort(c, 6), c)

4 [1, 2, 2, 2, 3, 4, 7]
6 [1, 2, 2, 2, 3, 4, 7]
None [1, 2, 2, 2, 3, 4, 6, 7]

- 切片

In [31]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [32]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [34]:
seq[:5]

[7, 2, 3, 6, 3]

In [35]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [37]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [38]:
seq[::2]

[7, 3, 3, 6, 1]

- 序列函数
    - enumerate
    - sorted
    - zip
    - reversed

In [39]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [41]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [42]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [45]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
print(type(zipped), list(zipped))

<class 'zip'> [('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [46]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [47]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [49]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names,last_names)

('Nolan', 'Roger', 'Schilling') ('Ryan', 'Clemens', 'Curt')

In [56]:
import sys
sys.getsizeof(zip(seq1, seq2, seq3)),\
    sys.getsizeof(list(zip(seq1, seq2, seq3)))

(64, 104)

In [52]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [57]:
sys.getsizeof(reversed(range(10))),\
    sys.getsizeof(list(reversed(range(10))))

(48, 200)

- 字典

In [58]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [59]:
d1[7] = 'an integer'
d1,d1['b']

({'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}, [1, 2, 3, 4])

In [60]:
'b' in d1

True

In [62]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [63]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [64]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [65]:
ret = d1.pop('dummy')
ret,d1

('another value', {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'})

In [66]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [67]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

- 用序列创建字典

In [69]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [70]:
zip(range(5), reversed(range(5)))

- 默认值

In [71]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [73]:
by_letter.get('c','')

''

- 有效的键类型

In [77]:
hash('string')

-3141791733256690201

In [78]:
hash((1, 2, (2, 3)))

1097636502276347782

In [82]:
# fails because lists are mutable
# TypeError
# hash((1, 2, [2, 3]))

In [83]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

- 集合

In [85]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [86]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [87]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [88]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [89]:
a.intersection(b)
a & b

{3, 4, 5}

In [91]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [93]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [94]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [95]:
{1, 2, 3} == {3, 2, 1}

True

<img src='images/3_1.png'>

- 列表、集合和字典推导式

In [96]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [97]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [98]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [100]:
{val : index for index, val in enumerate(strings)}

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

- 嵌套列表推导式

In [101]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [102]:
[name for names in all_data for name in names
          if name.count('e') >= 2]

['Steven']

In [103]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### 2、函数

- 命名空间、作用域，和局部函数

In [3]:
# 对全局变量进行赋值操作，
# 必须用 global 关键字声明成全局的才行
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

- 返回多个值
- 函数也是对象

In [4]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [5]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [6]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [7]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [8]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

- 匿名(lambda)函数

In [9]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [10]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

- 柯里化:部分参数应用

In [11]:
def add_numbers(x, y):
    return x + y

In [18]:
lambda y: add_numbers(5, y)

In [17]:
from functools import partial
partial(add_numbers, 5)

functools.partial(<function add_numbers at 0x102a66e18>, 5)

- 生成器

In [19]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [20]:
dict_iterator = iter(some_dict)
dict_iterator

In [21]:
list(dict_iterator)

['a', 'b', 'c']

In [22]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [23]:
gen = squares()
gen

In [24]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

- 生成器表达式

In [25]:
gen = (x ** 2 for x in range(100))
gen

In [26]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

- itertools 模块

In [27]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

<img src='images/3_2.png'>

- 错误和异常处理

In [30]:
float('1.2345')

1.2345

In [31]:
float('something')

ValueError: could not convert string to float: 'something'

In [34]:
def attempt_float(x):
    try:
        return float(x)
    except Exception as e:
        return x,e

In [35]:
attempt_float('something')

('something', ValueError("could not convert string to float: 'something'"))

In [39]:
attempt_float((1, 2))

((1, 2),
 TypeError("float() argument must be a string or a number, not 'tuple'"))

- IPython 的异常

#### 3、文件和操作系统

In [41]:
%pushd book-materials

[Errno 2] No such file or directory: 'book-materials'
/Users/Encho/study/python-for-data-analysis

['~/study/python-for-data-analysis', '~/study/python-for-data-analysis']

In [42]:
path = 'examples/segismundo.txt'
f = open(path)

In [43]:
lines = [x.rstrip() for x in open(path)]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [44]:
f.close()

In [46]:
with open(path) as f:
    print([x.rstrip() for x in f])

['Sueña el rico en su riqueza,', 'que más cuidados le ofrece;', '', 'sueña el pobre que padece', 'su miseria y su pobreza;', '', 'sueña el que a medrar empieza,', 'sueña el que afana y pretende,', 'sueña el que agravia y ofende,', '', 'y en el mundo, en conclusión,', 'todos sueñan lo que son,', 'aunque ninguno lo entiende.', '']

In [47]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [49]:
f.tell(),f2.tell()

(11, 10)

In [50]:
import sys
sys.getdefaultencoding()

'utf-8'

In [51]:
f.seek(3),f.read(1)

(3, 'ñ')

In [52]:
f.close()
f2.close()

In [53]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [54]:
import os
os.remove('tmp.txt')

- 文件的字节和 Unicode

In [55]:
with open(path) as f:
    chars = f.read(10)
chars

'Sueña el r'

In [56]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [58]:
data.decode('utf8')

'Sueña el '

In [59]:
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [60]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Sueña el r

In [61]:
os.remove(sink_path)

In [63]:
f = open(path)
f.read(5)

'Sueña'

In [64]:
f.seek(4)

4

In [65]:
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [66]:
f.close()

In [67]:
%popd

/Users/Encho/study/python-for-data-analysis
popd -> ~/study/python-for-data-analysis